.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.NavTopics {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

.Link {
  text-decoration: none;
}

.CardArticle {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 1% auto;
  border: solid black 1px;
}

.CardComment {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 1% auto;
  border: solid black 1px;
}

.NavBar {
  text-align: right;
  margin: 20px;
}
