.App {
  text-align: center;
}

.NavBar {
  text-align: right;
  margin: 20px auto;
}

.FormLoginDiv {
  position: absolute;
  right: 1%;
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.061);
}

.FormLoginButton {
  position: absolute;
  right: 2%;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.SpanHeader {
  color: red;
}

.NavTopics {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 2% auto;
  padding: 10px 0;
}

.NavBarFilter {
  margin: 2%;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-evenly;
}

.NavUsers {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 5% auto;
  padding: 10px 0;
}

.Select {
  width: 100px;
}

.Link {
  text-decoration: none;
  color: black;
}

.Link:hover {
  color: rgb(255, 108, 108);
}

.CardArticle {
  max-width: 60%;
  margin: 1% auto;
  padding: 1%;
  border: solid black 1px;
}

.CountP {
  max-width: 50%;
  margin: 1% auto;
  font-style: italic;
  text-align: left;
}

.ArticleInfo {
  max-width: 80%;
  margin: 5% auto;
}

.ButtonPost {
  margin: 2%;
}

.CardComment {
  max-width: 50%;
  margin: 1% auto;
  border: solid black 1px;
  padding: 1%;
}

.ButtonDeleteComment {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.FormCommentDiv {
  flex-wrap: wrap;
  max-width: 50%;
  margin: 1% auto;
}

.FormArticleDiv {
  flex-wrap: wrap;
  max-width: 60%;
  margin: 1% auto;
}

.FormComment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100%;
}

.FormArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100%;
}

.FormButton {
  max-width: 50%;
  margin: 5px auto;
}

.FormInput {
  display: block;
  max-width: 100%;
  height: 50px;
  margin: 1% 0;
}

.ErrorDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.TagIcon {
  max-height: 20px;
}

.ErrorTitle {
  margin: 15px;
}

.LoadingDiv {
  display: flex;
  justify-content: center;
  margin: 20%;
}
