.App {
  text-align: center;
}

.NavBar {
  text-align: right;
  margin: 20px auto;
}

.FormLoginDiv {
  position: absolute;
  right: 1%;
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(128, 128, 128, 0.15);
}

.FormLoginButton {
  position: absolute;
  right: 2%;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.SpanHeader {
  color: red;
}

.NavTopics {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 2% auto;
  padding: 10px 0;
}

.NavBarFilter {
  margin: 2%;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-evenly;
}

.NavUsers {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 5% auto;
  padding: 10px 0;
}

.Select {
  width: 100px;
  margin: 2%;
}

.Link {
  text-decoration: none;
  color: black;
}

.Link:hover {
  color: rgb(255, 108, 108);
}

.CardArticle {
  width: 90%;
  margin: 1% auto;
  padding: 1%;
  background-color: rgba(128, 128, 128, 0.15);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

.CountP {
  max-width: 90%;
  margin: 1% auto;
  font-style: italic;
  text-align: left;
}

.ArticleInfoDiv {
  max-width: 100%;
  margin: 5% auto;
}

.ArticleInfo {
  max-width: 90%;
  margin: 5% auto;
}

.ArticleBody {
  text-align: justify;
}

.CommentBody {
  background-color: white;
  min-height: auto;
  padding: 2%;
  text-align: left;
}

.ArticleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CommentDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  margin: 1%;
}

.CardComment {
  max-width: 90%;
  margin: 1% auto;
  background-color: rgba(128, 128, 128, 0.15);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  padding: 1%;
}

.ButtonDeleteComment {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ButtonVote {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.FormCommentDiv {
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1% auto;
}

.FormArticleDiv {
  flex-wrap: wrap;
  width: 90%;
  margin: 1% auto;
}

.FormComment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 90%;
}

.FormArticle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5% auto;
  max-width: 100%;
}

.FormButton {
  max-width: 10%;
  margin: 5px auto;
}

.FormTextArea {
  display: block;
  max-width: 100%;
  height: 50px;
  margin: 1% 0;
  font-size: 1em;
}

.FormInput {
  display: block;
  max-width: 100%;
  margin: 1% 0;
  font-size: 1em;
}

::placeholder {
  font-family: 'Roboto';
}

.ErrorDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.TagIcon {
  max-height: 20px;
}

.ErrorTitle {
  margin: 15px;
}

.LoadingDiv {
  display: flex;
  justify-content: center;
  margin: 20%;
}
